doctype html
html
  head
    meta(charset="UTF-8")
    title test

  body
    input(class = 'quickSelectInput' type = 'text')
    input(class = 'quickSelectInput' type = 'text')
    input(class = 'quickSelectInput' type = 'text')
    input(class = 'quickSelectInput' type = 'text')
    br
    br
    br
    br
    input(class = 'quickSelectInput' type = 'number')
    input(class = 'quickSelectInput' type = 'number')
    input(class = 'quickSelectInput' type = 'number')
    input(class = 'quickSelectInput' type = 'number')
    br
    br
    br
    br
    br
    input(class = 'quickSelectInput' type = 'text')
    input(class = 'quickSelectInput' type = 'text')
    input(class = 'q3' type = 'text')
    input(class = 'q3' type = 'text')
    br
    br
    br
    br
    br
    input(class = 'q1' type = 'text')
    input(class = 'q1' type = 'text')
    input(class = 'q1' type = 'text')
    input(class = 'q2' type = 'text')
    br
    br
    button(class = 'setSelectButton') 修改
    button(class = 'setSelectButton') 修改
    button(class = 'setSelectButton') 修改
    button(id = 'tes') test
